<div class="container mt-5">
  <header class="mb-4 return_to">
    <%= link_to "⬅️ Back to my watchlist", "javascript:history.back()" %>
  </header>

  <div class="movie_card">
    <div class="row g-0">
      <!-- Affiche du film -->
      <div class="col-md-4">
        <% @movie.poster.attached? %>
          <%= image_tag @movie.poster, alt: @movie.title, class: "img-fluid rounded-start" %> <!-- TODO : à refacto après intégration cloudinary -->
      </div>

      <!-- Infos du film -->
      <div class="col-md-8">
        <div class="movie_text">
          <h2 class="card-title mb-3"><%= @movie.title %> (<%= @movie.year %>)</h2>

          <p class="mb-1"><strong>Director:</strong> <%= @movie.director %></p>
          <p class="mb-1"><strong>Genre:</strong> <%= @movie.genre %></p>
          <p class="mb-1"><strong>Country:</strong> <%= @movie.country %></p>
          <p class="mb-1"><strong>Ranking:</strong> <%= @movie.rank %></p>

          <hr>

          <p class="card-text"><%= simple_format(@movie.description) %></p>

        </div>
      </div>
    </div>
  </div>

          <% if @movie.system_prompt.present? %>
            <div class="card original_prompt">
              <strong>Original prompt:</strong> <%= @movie.system_prompt %>
            </div>
          <% end %>

</div>
