  <div class="chat-container">

    <header class="back-button return_to">
      <i class="fas fa-arrow-left"></i>
      <%= link_to "Back to Movie Search", chats_path %>
    </header>

    <div class="chat-header">
      <h1><%= @chat.title %></h1>
    </div>

    <div>
      <%= link_to "Delete this watchlist", chat_path,
      data: { turbo_method: :delete, turbo_confirm: "do you want to delete this watchlist ?" },
      class: "btn btn-outline-danger delete_button" %>
    </div>

    <!-- 1ï¸âƒ£ Movie suggestions -->
    <% if @recommendations.any? %>
      <h5 class="card-title fw-bold mb-4">Saved in your List</h5>
      <div class="movie-suggestions mb-5">
        <% @recommendations.each do |recommendation| %>
          <div class="watchlist_container_chat_index">
            <% if recommendation.movie.img_url.present? %>
            <div class="movie-img" style="background-image: url(<%=recommendation.movie.img_url%>)">
              <%= link_to  chat_recommendation_path(@chat, recommendation),
              data: { turbo_method: :delete, turbo_confirm: "do you want to delete this watchlist ?" } do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
            <% else %>
              <div style="height: 250px; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); display: flex; align-items: center; justify-content: center; color: white; font-size: 2rem;">
                ðŸŽ¬
              </div>
            <% end %>
            <h5><%= recommendation.movie.title %></h5>
            <p><%= recommendation.movie.description %></p>
            <%= link_to "See movie details", movie_path(recommendation.movie), class: "btn btn-primary" %>

           </div>
        <% end %>
      </div>
    <% end %>

    <!-- 2ï¸âƒ£ Chat section (horizontal under movie suggestions) -->
    <h5 class="card-title fw-bold mb-4">Keep discussing with your movie assistant to get other suggestions</h5>
      <div class="chat_body mb-4">
        <div class="chat_section">

          <div id="messages" class="chat_container mt-4 p-3">
            <%= render "chats/messages", messages: @chat.messages %>

          </div>

        <div id="chat-input" class="chat-input-container">
          <%= render "chats/form", chat: @chat, message: @message %>
        </div>

        </div>
      </div>
    </div>
</div>
</div>
